@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Gotu", "Noto Sans JP", sans-serif;
$second-font-family: "Noto Serif JP", sans-serif;
$third-font-family: "Lato", serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
  color: #0d2936;
  position: relative; // page-topbtn
}

// フォントウェイト
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black1: #0d2936;
$black2: #000;
$white: #fff;
$green1: #408f95;
$green2: #ddf0f1;
$brown: #796a64;
$red: #c94800;
