@use "global" as *;

.about__inner {
  position: relative;
}

.about__img-wrap {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(40);
  }
}

.about__img-small {
  width: 37.1014%;
  position: relative;
  z-index: 2;
}

.about__img-small img {
  aspect-ratio: 128 / 194;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__img-big {
  width: 81.449%; // 281 / 345
  margin-top: -49%;
  margin-left: auto;
  z-index: 1;
}

.about__img-big img {
  aspect-ratio: 281 / 186;
  object-fit: cover;
  width: 100%;
  height: 100%;
}




.about__content-wrap {
  margin-top: rem(40);
}

.about__title {
  font-size: rem(40);
  line-height: 1;
  font-weight: $regular;
  color: $green1;
}

.about__text-wrap {
  margin-top: rem(16);
}

.about__text {
  font-size: rem(16);
  line-height: 1.5;
  font-family: $second-font-family;
}

.about__button {
  margin-top: rem(40);
  text-align: center;
}