@use "global" as *;

.blog-card__title {
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1.5;
  font-family: $second-font-family;
}

.blog-card__wrapper {
  border-top: 1px solid $green1;
  text-align: center;
  margin-top: rem(4);
}

.blog-card__text {
  font-size: rem(16);
  font-weight: $regular;
  line-height: 1.5;
  font-family: $second-font-family;
  margin-top: rem(16);
}

.blog-card__date {
  font-size: rem(12);
  line-height: 1.5;
}

.blog-card__body {
  padding: rem(24) rem(16);
}