@use "global" as *;

.button {
  display: inline-block;
  background-color: $green1;
  width: rem(202);
  text-align: center;
  color: $white;
  padding: rem(16) 0;
  font-size: rem(14);
  line-height: 1.571;
  z-index: 1;
  position: relative;
  transition: color 0.2s;
  font-family: $second-font-family;
}

.button::first-letter {
  text-transform: capitalize;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(rem(4), rem(4));
  border: rem(1) solid $green1;
  z-index: -2;
}

.button span {
  padding-right: rem(46);
  position: relative;
}

.button span::after {
  content: "";
  position: absolute;
  width: rem(40);
  height: rem(6);
  top: 48%;
  right: 0;
  transform: translateY(-50%);
  background-image: url(../images/common/button-arrow1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}