@use "global" as *;

.campaign {
  padding: 40px 0 80px;
  @include mq("md") {
    padding: 120px 0 140px;
  }
}

.campaign__inner {
  position: relative;
}

.campaign__slider {
  margin-top: rem(24);
}


/* 前への矢印カスタマイズ */
.top-swiper-button-prev::after {
  background-image: url(../images/common/button-prev.png);
}

/* 次への矢印カスタマイズ */
.top-swiper-button-next::after {
  background-image: url(../images/common/button-next.png);

}