@use "global" as *;

.campaign {
  padding: 40px 0 80px;
  @include mq("md") {
    padding: 120px 0 140px;
  }
}

.campaign__inner {
  position: relative;
}

.campaign__slider {
  margin-top: rem(24);
}


/* 前後の矢印 */
.top-swiper-button-prev,
.top-swiper-button-next {
  height: rem(80);
  width: rem(80);
  top: rem(22);
  transition: opacity 0.3s;
}

.top-swiper-button-prev:after,
.top-swiper-button-next:after {
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: rem(80);
  width: rem(80);
  display: none;
  @include mq("md") {
    display: block;
  }
}


.top-swiper-button-prev:after {
  background-image: url(../images/common/button-prev.png);
}

.top-swiper-button-next:after {
  background-image: url(../images/common/button-next.png);
}

