@use "global" as *;

.footer {
  background-color: $green1;
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq("md") {
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}

.footer__heading {

}

.footer__logo img {
  width: rem(120);
  @include mq("md") {
    width: rem(200);
  }
}

.footer__sns-links {
  margin-top: rem(16);
  display: flex;
}