@use "global" as *;

.heading {
  text-align: center;
}

.heading__main.heading__main--white {
  @include mq("md") {
    color: $white;
  }
}

.heading__main {
  font-size: rem(32);
  line-height: 1.25;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.heading__main.heading__main--white::first-letter {
  @include mq("md") {
    color: $green2;
  }
}

.heading__main::first-letter {
  text-transform:capitalize;
  color: $green1;
}

.heading__sub {
  margin-top: rem(4);
  font-size: rem(12);
  color: $green1;
  font-family: $second-font-family;
  font-weight: $regular;
  @include mq("md") {
  margin-top: rem(8);
  }
}

.heading__sub.heading__sub--white {
  @include mq("md") {
    color: $white;
  }
}

