@use "global" as *;

.price {
  background-color: $green2;
  padding: rem(80) 0;
  @include mq("md") {
    padding: rem(100) 0;
  }
}

.price__inner {
  position: relative;
}

.price__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    background-image: url(../images/common/fish4.png);
    width: rem(437);
    height: rem(201);
    bottom: rem(-43);
    left: calc(50% - min(48.5vw, rem(624)));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.price__content {
  margin-top: rem(24);
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    margin-top: rem(40);
  }
}

.price__img {
  @include mq("md") {
    width: calc(50% - rem(48));
    // 1080/2=540,540-492=48
  }
}

.price__img img {
  aspect-ratio: 345 / 227;
  object-fit: cover;
  width: 100%;
  height: 100%;
  @include mq("md") {
    aspect-ratio: 492 / 746;
  }
}

.price__container {
  margin-top: rem(40);
  @include mq("md") {
    margin-right: rem(93);
    margin-top: 0;
    width: calc(50% - rem(48));
    // 1080/2=540,540-492=48
  }
}

.price__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}
