@use "global" as *;

.sp-nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $green1;
}

// .sp-nav.is-active {
//   display: block;
// }

.sp-nav__inner {
  
}