@use "global" as *;

.voice__inner {
  position: relative;
}

.voice__inner::before {
  @include mq("md") {
    content: "";
    position: absolute;
    background-image: url(../images/common/fish2.png);
    width: rem(301);
    height: rem(138);
    top: rem(-120);
    left: calc(50% - min(48.5vw, rem(616)));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.voice__inner::after {
  @include mq("md") {
    content: "";
    position: absolute;
    background-image: url(../images/common/fish3.png);
    width: rem(71);
    height: rem(162);
    bottom: rem(-67);
    right: calc(50% - min(48.5vw, rem(536)));
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.voice__cards {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}