@use "global" as *;

.voice-card {
  box-shadow: rem(2) rem(2) rem(10) rgba($color: $black2, $alpha: 0.25);
  padding: rem(15) rem(16);
  @include mq("md") {
    padding: rem(24);
  }
}

.voice-card__head {
  display: flex;
  align-items: flex-start;
}

.voice-card__title-wrap {
  border-bottom: rem(1) solid $green1;
  width: 47.603%; // wrap幅149/コンテンツ幅313
  @include mq("md") {
    // width: 61%; // wrap幅276/コンテンツ幅472
    width: 60.474%;
    padding-top: rem(24);
  }
}

.voice-card__info {
  @include mq("md") {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
}


.voice-card__age {
  font-size: rem(12);
  line-height: 1.5;
}

.voice-card__tag {
  display: inline-block;
  color: $green1;
  border: rem(1) solid $green1;
  font-size: rem(12);
  line-height: 1;
  padding: rem(8) rem(12);
  @include mq("md") {
    padding: rem(10) rem(13);
  }
}

.voice-card__title {
  margin-top: rem(4);
  font-weight: $medium;
  @include mq("md") {
    font-size: rem(24);
    margin-top: rem(8);
  }
}

.voice-card__img {
  margin-left: rem(13);
  width: calc(50.2428% - 6px);
  padding-top: rem(7);

  @include mq("md") {
      padding-top: 0;
      margin-left: rem(16);
      width: 40.1356%;
  }
}

.voice-card__img img {
  aspect-ratio: 151 / 117;
  object-fit: cover;
  width: 100%;
  height: 100%;

  @include mq("md") {
      aspect-ratio: 180 / 140;
  }
}

.voice-card__text {
  margin-top: rem(16);
  line-height: 1.5;
  @include mq("md") {
    margin-top: rem(40);
  }
}