@use "global" as *;

.voice__inner {
  position: relative;
}


.voice__cards {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.voice__button {
  margin-top: rem(40);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
  }
}